body{
    background-image: url(https://www.elfutbolero.com.pe/image/elfutbolerocompe/al-la-mitad-del-primer-tiempo-la-pnp-ingreso-la-tribuna-donde-se-ubicaba-la-barra-crema-1702053547.jpeg);
    background-position:90% ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
}